@{
    ViewBag.Title = "Home Page";
}
@Scripts.Render("~/script/parser")
@section featured {
    <section class="">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                Function test: <input id="tbFunc" type="text" style="width:300px;" />
                <button onclick="drawing.createDatasource($('#tbFunc').val())">Calculate</button>
                <br/>
                Result
                <p id="result">
                </p>
            </p>
            <canvas width="630" height="630" style="border:1px solid #bababa;"></canvas>
        </div>
    </section>
}